<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Integrador - Contacto</title>
</head>
<body>
    <header class="main-header">
        <input type="checkbox" id="menu">
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="./alta.html" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="./nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="./contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
          </ul>
        </nav> <!-- .nav-bar -->
  
        <div class="search-bar">
          <div class="search-bar__logo-container">FashionFusion</div>
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input type="search" class="search-bar__form-search" id="busqueda" placeholder="BUSCAR...">
            <button type="submit" class="search-bar__form-button">
              <img src="./iconos/buscar.svg" alt="">
            </button>
          </form>
          <div class="search-bar__carrito-container">
            <img src="./iconos/carrito.svg" alt="carrito">
          </div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
        </div> <!-- .search-bar -->
  
      </header> <!-- main-header -->
    <div class=" contenido">Falta</div>
    <!-- footer -->
    <footer class="footer">
        <div class="footer__logo-container">FashionFusion</div>
        <div class="footer__content">
        <div class="footer__nav-container">
          <ul class="footer__nav-list">
            <li class="nav-bar__nav-item">
              <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="./alta.html" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="./nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="./contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
          </ul>
        </div>
  
        <div class="footer__nav-container">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Centro de ayuda</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Envíos/Devoluciones</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Políticas de la tienda</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Métodos de pago</a>
            </li>
          </ul>
        </div>
        <div class="footer__contact-container">
          <p>info@fashionfusion.com</p>
          <p>Av. Almirante Miguel Grau, 28021 Lima</p>
          <p>Tel: 987-123-456</p>
        </div>
        <div class="footer__social-container">
          <a href="#" class="footer__social-link">
            <img src="./iconos/facebook.svg" alt="facebook">
          </a>
          <a href="#" class="footer__social-link">
            <img src="./iconos/instagram.svg" alt="instagram">
          </a>
          <a href="#" class="footer__social-link">
            <img src="./iconos/twitter.svg" alt="twitter">
          </a>
        </div>
        <div class="footer__subscription">
          <form action="#" class="footer__subscription-form">
            <label for="email" class="footer__subscription-label">Suscríbete. Mantén tu estilo</label>
            <input type="email" class="footer__subscription-input" id="email" placeholder="Ingresa tu email aquí">
            <button type="submit" class="footer__subscription-button">Unirse</button>
          </form>
        </div>
      </div>
      </footer>

      <script type="module" src="/main.js"></script>
</body>
</html>